---
import type { BreedsAllResponse } from '../common/interfaces/breeds-all-response.interface'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
import Nav from '../components/Nav.astro'

const response = await fetch('https://dog.ceo/api/breeds/list/all')
const data: BreedsAllResponse = await response.json()
const allBreeds = []

for (const key in data.message) {
  if (data.message[key].length > 0) {
    for (const value of data.message[key]) {
      allBreeds.push(value + ' ' + key)
    }
  } else {
    allBreeds.push(key)
  }
}
console.log(allBreeds.length)

import Card from '../components/Card.astro'
import Search from '../components/Search.astro'
---

<Layout title="DoggieFinder">
  <main>
    <Nav logo="empty" name="DoggieFinder" />
    <main class="w-full h-fit py-10 flex flex-col items-center gap-10">
      <Search />
      <section class="px-8 w-full">
        <ul
          class="w-full grid grid-flow-row grid-cols-1 gap-8 justify-items-center md:grid-cols-2 lg:grid-cols-4"
        >
          {
            allBreeds.map(breed => (
              <Card
                breed={breed}
                type={breed.split(' ').length > 1 ? 'sub' : 'normal'}
                href="sub"
              />
            ))
          }
        </ul>
      </section>
    </main>
    <Footer
      logo="empru"
      name="DoggieFinder"
      socialMedia={[
        'https://twitter.com/hazajdev',
        'https://www.instagram.com/hazadev/',
        'https://www.linkedin.com/in/hazael-jimenez/'
      ]}
    />
  </main>
</Layout>

<style>
  .MD-Main {
    background-color: var(--md-sys-color-primary-light);
  }
</style>
