---
export interface Props {
  breed: string
  type: string
  href: string
}

const { href, breed } = Astro.props
---

<li class="card">
  <a href={href} class="flex flex-row justify-between">
    <h2>
		{breed}
    </h2>
	<span class="material-symbols-outlined"> pets</span>
  </a>
</li>

<style>
	.card{
		@apply w-64 h-fit bg-fuchsia-100 rounded-2xl p-4 
	}

</style>