---
import { toTitle } from '../common/utils/toTitle';

export interface Props {
  name: string;
  type: string;
  image: string;
}

const { name, type, image } = Astro.props
---

<section class={`hero flex flex-col justify-start gap-4 md:flex-row justify-between items-center ${type === 'breed' ? 'bg-primary-200 dark:bg-primary-500' : 'bg-tertiary-200 dark:bg-tertiary-500'}`}>
    <figure>
        <img class="w-full h-96 md:w-96" src={image} alt={`Hero image - ${name}`}>
    </figure>
    <section class="w-full flex flex-col gap-2 pb-6 px-5 md:max-2xl:w-2/4 md:max-2xl:pl-0 items-start dark:text-gray-50 text-gray-800">
        <h2 class="display-medium">
            {toTitle(name)}
        </h2>
        <p class="title-large">{type}</p>
    </section>

</section>

<style>
  .hero {
    @apply w-full h-fit;
  }
</style>
