---
import ThemeToggle from './ThemeToggleButton'

export interface Props {
  logo: string
  name: string
}

const { logo, name } = Astro.props
---

<header
  class="dark:text-gray-400 text-gray-800 body-font sticky top-0 z-50 backdrop-blur-md"
>
  <div
    class="container mx-auto flex flex-wrap px-5 py-3 md:flex-row justify-between items-center"
  >
    <a class="flex title-font font-medium items-center text-white" href="https://doggie-finder.vercel.app">
      <img src="/logo40x40.webp" alt="Logo Doggie Finder4" />
      <span class="ml-3 text-xl dark:text-gray-50 text-gray-800">{name}</span>
    </a>
    <button class="w-fit h-fit flex">
      <ThemeToggle client:visible />
    </button>
  </div>
</header>
